<div class="counter" [ngClass]="{ 'above-three': isAboveThree(), 'below-minus-three': isBelowMinusThree() }">
  <h2>Counter</h2>
  <span class="count">{{ count }}</span>
  <div class="flex">
    <div class="button-flex">
      <!-- Use mousedown and mouseup events -->
      <button class="red" (mousedown)="onDecrementMouseDown()" (mouseup)="onMouseUp()">-</button>
      <button class="green" (mousedown)="onIncrementMouseDown()" (mouseup)="onMouseUp()">+</button>
    </div>
    <button class="reset" (click)="reset()">Reset</button>
  </div>
</div>